/*css Curriculum*/

.fondo{
    background-color: linear-gradient(#7c7c7c88, #fffffffe);
}

/*Header*/

.cabecera{
    padding: 5em;
    width: auto;
    background: #7c7c7c88;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    font-size: 3em;
    margin: 0 0 1em;

}

.contenido img{
    float: left;
    width: auto;
    margin: 0 20px 0 32%;
    border-radius: 5px;

}

.nya span{
    text-align: left;
    font-size: 19px;
    font-weight: bold;
}



/*body*/

.titulo-secundario{
    text-align: center;
    font-size: 2.5em;
    margin: 2em 0 1em;
    clear: center;
}

.principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 4em;
    padding: 0;

}

.principal p{
    margin: 20px 0 20px 0;
    font-size: 1.1em;
}

.principal h3{
    margin: 20px 0 20px 0;
    font-size: 1.1em;
    text-align: justify;
    font-weight: bold;
}

.subtitulo{
    margin: 3em 0 0 auto;
    font-size: 1.1em;
    font-weight: bold;
}

#columna1{
    margin: 2em 3% 4em 8%;
    width: 25%;
}


#columna2{
    margin: 2em 0 4em 1%;
    width: 56%;
    text-align: left;
}

/*footer*/

.final{

    align-content: center;
    display: flex;
    justify-content: center;
}

.final img{
    width: 40px;
    height: 40px;

}

.socialmedia{
    font-size: 1.1em;
    margin: 1em 0 3em 0.5em;
}